@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-width: 700px;
  --bg-color: #ffffff;
  --text-color: #393939;
  --button-bg-color: #d51111;
  --button-text-color: #fff;
  --link-color: #b60000;
  --header-background: #ffe5e5;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dark-mode {
  --bg-color: #171717;
  --text-color: #dcdcdc;
  --button-bg-color: #e86161;
  --button-text-color: #fcfcfc;
  --link-color: #f9c6c6;
  --header-background: #4b4545;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  background-color: var(--header-background);
  border-bottom: 1px solid #525252;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
  cursor: pointer;
  width: 200px;
  flex: 1;
  padding-top: 5px;
}

.calendar {
  height: 500px;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

button {
  cursor: pointer;
}

.top-right-buttons a {
  margin-right: 40px;
  font-size: 18px;
}

.task-options {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 2rem 0;
}

.import-data {
  position: relative;
}

.custom-file-upload {
  display: inline-block;
  padding: 8px 20px;
  cursor: pointer;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 1px solid #7b7b7b;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.home input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.task-options button {
  padding: 8px 20px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 1px solid #7b7b7b;
  border-radius: 5px;
  font-size: 16px;
}

.task-form,
.about-page {
  padding: 2rem;
}

.task-form label,
.about-page label {
  padding-right: 0.5rem;
}

.task-form h2,
.about-page h2,
.about-page h3 {
  padding-bottom: 1.5rem;
}

.task-form button,
.about-page button {
  padding: 6px 16px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 1px solid #7b7b7b;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  width: 500px;
  height: 100px;
  margin-top: 0.5rem;
}

.about-page p {
  padding-bottom: 1.5rem;
}

.calendar {
  padding: 2rem;
}

.progress-chart {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.task {
  padding: 0 0 1rem 2rem;
}

.task h3 {
  padding: 0.25rem 0 0.25rem 0;
}

.bottom-buttons button {
  padding: 6px 16px;
  margin-right: 0.5rem;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 1px solid #7b7b7b;
  border-radius: 5px;
}

.task input {
  width: 300px;
  margin-bottom: 1rem;
}

.comment {
  padding-bottom: 0.25rem;
}

.description {
  color: #848484;
  padding-bottom: 0.25rem;
}

.dark-mode-button {
  background-color: var(--bg-color);
  margin-right: 10px;
  border: 1px solid #7b7b7b;
  border-radius: 5px;
}

.top-right-buttons {
  display: flex;
  align-items: center;
}
